.container  {
    height: 400px;
    width: 400px;
    font-size: 50px;
    padding: 10px auto;
    /* margin:20px auto; */
    border-radius: 5%;
    background-color: white;
    border: 2px solid aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    

}
.child {
    height: 100px;
    width: 100px;
    font-size: 50px;
    
    text-align: center;
    border-radius: 10%;
    background-color: grey;
    border: 2px solid black;


}
#container {
    height: 50px;
    width: 900px;
    border: 2px solid darkcyan;
    border-radius: 10px;
    padding: 10px auto;
    margin: 10px auto;
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    align-content: center;



}
#child {
    height: 50px;
    width: 80px;
    font-size: 24px;
    border-radius:  10px;
    margin-left: 5px;
    
}
form {
    font-family: 'Times New Roman', Times, serif;
    background-image:url(download.jpg);
    background-size: cover;
    display: wrap;
    background-repeat: no-repeat;
    /* height: 100vh; */
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column-reverse;
    border-radius: 10px;
    padding: 40px;
    width:500px;
    text-align: left;

    

}
div {
    background-color: rgba(212, 18, 18, 0.27);
    border-radius: 10px;
    
}
label {
    display:block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-style: italic;


}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], select, textarea { 
    background-color: whitesmoke;
    


} 
input[type="submit"],input[type="reset"]{
    background-color: salmon;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}
input:focus,select:focus,textarea:focus {
    background-color: aqua;
}
input[type="submit"]:hover,input[type="reset"]:hover{
    background-color: blue;

}
